<div class="jumbotron" id="contact-us">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="contact-us-wrapper">
          <div>
            <h4 class="contact-title">Need More Help?</h4>
            <p class="contact-subtitle">Send us a message and our friendly support staff will get back to you within 24h!</p>
          </div>
            <a href="<%= new_topic_path %>" class="btn rounded send-email">
              Open Ticket
            </a>
        </div>
      </div>
    </div>
  </div>
</div>