<% category = category_panel %>
<div class="category col-xs-12 col-sm-6">
  <div class="category-panel">
    <% if category.icon.start_with? 'vp-' %>
      <img src='<%= asset_path "videoplasty/icons/#{category.icon}.svg" %>'>
    <% else %>
      <%= content_tag :i, nil, class: "glyphicon glyphicon-#{category.icon} home-icon" %>
    <% end %>
    <h4><%= link_to category.name, category_path(category), class: "category-name", id: "category-#{category.id}" %></h4>
  </div>
</div>
