<%= link_to(doc_path(doc), class: 'doc-panel') do %>
  <div class="doc-panel-question">
    <%= doc.title %>
  </div>
  <img src='<%= asset_path "videoplasty/icons/vp-arrow-right-icon.svg" %>'>
<% end %>